.page {
  width: 100%;
  background-color: #e9e9e9;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .contents {
      display: flex;
      flex-direction: column;
      width: 1180px;
      height: 700px;
      background-color: #ffffff;
      border-radius: 0 20px 20px 0;

      .title {
        margin-top: 50px;
        font-size: 30px;
        font-weight: 800;
        color: black;
      }

      .roomWrapper {
        width: 100%;
        margin-top: 20px;
        margin-left: 70px;
      }
    }
  }
}
