.mainPage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px;
  background-color: #e9e9e9;

  .wrapper {
    display: flex;

    .contents {
      display: flex;
      flex-direction: column;
      width: 1180px;
      padding: 50px;
      background-color: #ffffff;
      border-radius: 0 20px 20px 0;

      .title {
        font-size: 30px;
        font-weight: 800;
        color: black;
      }

      .plusRoomButton {
        align-items: center;
        width: 154px;
        height: 64px;
        margin-left: 900px;
        font-size: 25px;
        font-weight: 600;
        color: #ffffff;
        background-color: #36454f;
        border-radius: 10px;
      }

      .roomWrapper {
        width: 100%;
        margin-top: -64px;
        margin-left: 70px;
      }
    }
  }
}
